.header{
    padding:20px 0;
    position:sticky;
    top:0;
    left:0;
    z-index:1;
    background-image:linear-gradient(#97cb72,#C0DDAB);
    
    &--is-active{
        .header__button{
            visibility:visible;
            opacity:1;
            transition:opacity, 1s ease;
        }
    }

    .container{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    &__text{
        color:#000;
    }

    &__button{
        width:30%;
        text-decoration: none;
        text-align:center;
        visibility:hidden;
        opacity:0;
        transition:opacity, .4s ease;
    }

    @media (max-width:640px){
        padding:8px 0;
        .container{
            display:block;
        }
        &__text{
            text-align:center;
        }
    }
    @media (min-width:768px) and (max-width:1024px){
        &__button{
            max-width: 20%;
    }
    }
}